@import './reset.css';

#wrap { min-width:1500px; }

/* header */
#headerWrap { position:fixed; left:0; right:0; top:0; background:#0d6fb8; z-index:10; box-shadow:0px 2px 4px 0 rgba(0, 0, 0, 0.2); }
#headerWrap .header { display:flex; align-items:center; justify-content:space-between; max-width:1500px; height:60px; padding:0 40px 0 10px; }
#headerWrap .header .logo { display:flex; font-size:18px; color:#fff; }
#headerWrap .header .logo img{ width:180px; }
#headerWrap .header .logo a span{ display:inline-block; padding-top:14px; padding-left:5px; }

#headerWrap .header .util-wrap ul { display:flex; align-items:center; }
#headerWrap .header .util-wrap ul li { position:relative; color:#fff; font-size:16px; }
#headerWrap .header .util-wrap ul li:first-child::after { content:''; display:block; position:absolute; right:0; top:6px; width:1px; height:14px; background:#fff; opacity:.5; }
#headerWrap .header .util-wrap .name a { padding-left:26px; margin-right:20px; background:url(../images/icon_person_w@3x.png) left center no-repeat; background-size:16px; }
#headerWrap .header .util-wrap .logout a { padding-left:26px; margin-left:20px; background:url(../images/icon_lock_w@3x.png) left center no-repeat; background-size:16px; }

/* nav */
#navWrap .nav { background:#f7f8f9; width:240px; height:100vh; position:fixed; left:0; top:0; padding-top:100px; border-right:1px solid #e1e1e1; z-index:5; }
#navWrap .nav > ul > li { border-bottom:1px solid #e1e1e1; }
#navWrap .nav > ul > li > a { display:block; height:60px; padding-left:40px; line-height:60px; color:#222; font-size:18px; }
#navWrap .nav > ul > li.active { background:#0087d5; }
#navWrap .nav > ul > li.active > a { color:#fff; }
#navWrap .nav .depth-menu{ display:none; }
#navWrap .nav .depth-menu.active{ display:block; }
#navWrap .nav .depth-menu li { background:#fff; padding:0 40px; }
#navWrap .nav .depth-menu li a { display:block;  height:56px; font-size:16px; color:#666; line-height:56px; }
#navWrap .nav .depth-menu li:nth-of-type(1) a { border-bottom:1px solid #e1e1e1; }
#navWrap .nav .depth-menu li a::before { display:inline-block; content:''; margin-right:6px; width:16px; height:16px; background:url(../images/icon_dot_img.png) no-repeat center/16px; }
#navWrap .nav .depth-menu > li.active > a { color:#0087d5; }
#navWrap .nav .depth-menu > li.active > a ::before { background:url(../images/icon_dot_bl@2x.png) no-repeat center/16px; }

/* 로그인 */
#loginWrap .login { display:flex; flex-direction:column; justify-content:center; align-items:center;  background:#f7f8f9; width:100%; height:100vh; }
.login-tit { padding-bottom:40px; font-size:30px; text-align:center; color:#222; }
.login-tit img { width:287px; }
.login-tit span { display:inline-block; padding-top:21px; padding-left:5px; letter-spacing:-1.5px; }
.box-wrap .box { width:580px; padding:60px 100px; background:#fff; box-shadow:7.7px 6.4px 20px 0 rgba(0, 0, 0, 0.1); }
.box-input { display:flex; align-items:center; padding:10px 20px; border:1px solid #999; border-radius:2px; }
.box-input.err-msg{ border:1px solid #ff0000; }
.box .err-txt{ padding:10px 0; color:#e5483d; }
.box-input input { width:calc(100% - 90px); border:0; font-size:16px; }
.box-input .name { position:relative; width:90px; font-size:16px; color:#000; }
.box-input .name::after { content:''; display:block; position:absolute; right:0; top:6px; width:1px; height:14px; background:rgba(0, 0, 0, 0.2); }
.login .btn-wrap { display:flex; gap:10px; margin-top:0px; }
.login .btn-wrap .btn { width:50%; }

/* 본문 */
#containerWrap .container { padding:110px 40px 100px; margin-left:240px; max-width:1260px; }
.section { padding-bottom:40px; }
.top-title { padding-bottom:40px; color:#222; font-weight:bold; font-size:32px; }
.sub-title { padding-bottom:10px; font-size:18px; color:#000; font-weight:500; }

/* table */
.table-wrap { position:relative; }
.table-top { display:flex; justify-content:space-between; align-items:flex-end; }
.total-num { padding-bottom:10px; font-size:14px; color:#000; font-weight:500; }
.total-num span { color:#2d93d0; }
.table-wrap table { border-top:1px solid #222; }
.table-wrap .name { padding-left:20px; text-align:left; }
.table-wrap .name.on a,
.table-wrap .name a:hover { text-decoration:underline; color:#009edb; }
.table-wrap .select-box { display:flex; gap:20px; align-items:center;}
.table-wrap .select-box select { width:calc((100% - 86px) / 3); }
.table-wrap .select-box.type02 select { width:50%; }
.table-wrap .etc { display:flex; gap:20px; }
.table-wrap .etc span { width:140px; }
.table-wrap .etc input { width:calc(100% - 140px); }
.table-wrap table th { background:#f7f8f9; padding:13px 0 14px; color:#000; font-size:16px; border-top:1px solid #222; border-bottom:1px solid #e1e1e1; font-weight:500; }
.table-wrap table td { padding:13px 20px; color:#333; font-size:16px; text-align:center; border-bottom:1px solid #e1e1e1; }
.table-wrap.type02 th,
.table-wrap.type02 td { border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; }
.table-wrap.type03 th,
.table-wrap.type03 td { padding-left:20px; text-align:left; vertical-align:top; }
.table-wrap.type03 tbody td:last-child { padding-right:0; } 
.table-wrap.type04 thead th,
.table-wrap.type04 tbody td { border-right:1px solid #e1e1e1; }
.table-wrap.type04 thead th:last-child { text-align:center; border-right:0; }
.table-wrap.type04 tbody td:last-child { padding-left:40px; padding-right:0; text-align:left; border-right:0; }
.table-wrap .common-check label input { left:50%; transform:translateX(-50%); }
.table-wrap .bg-color { background:#e7f5fa; }
.more-view-wrap .table-wrap .bg-color { background:#fff !important; }

/* table - textarea */
.table-wrap .textarea-wrap > *::-webkit-scrollbar{ width:4px; }
.table-wrap .textarea-wrap > *::-webkit-scrollbar-thumb{background:#c2c2c2;}
.table-wrap .textarea-wrap { padding:20px 10px 20px 0; height:200px; background:#fff; border:1px solid #999; overflow:inherit; }
.table-wrap .textarea-wrap.readonly { background:#ededed; border:1px solid #ededed; }
.textarea-wrap.lg { height:392px; }
.textarea-wrap.sm { height:150px; }

/*  table - 경고 표시 */
.red-dot{ display:inline-block; position:absolute; padding-left:4px; font-size:16px; color:#c82a82;}
.warning-txt{font-size:14px; color:#009edb; text-align:left;}

/* 파일추가 */
.file-wrap { position:relative; display:flex; justify-content:space-between; gap:10px; }
.file-wrap input{width:calc(100% - 125px);}
.file-wrap .input-file-hidden { position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; cursor:pointer; padding:0; }

/* 첨부파일 명 추가 */
.add-file { display:flex; padding:20px 0 10px; }
.add-file-name { display:flex; gap:10px; align-items:center; margin:0 26px 0 0; color:#555; }
.add-file-name p { width:96px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.add-file-name .btn.del-file { width:16px; height:16px; background:url(../images/icon_delete.png) no-repeat 16px/16px; border:none; background-position:right 100%; }
.add-file-name:hover { color: #009edb; }
.add-file-name:hover .btn.del-file { background:url(../images/icon_delete_b.png) no-repeat 16px/16px; background-position:right 100%; }
.add-file-name .del-file:disabled:hover { background:url(../images/icon_delete.png) no-repeat 16px/16px; border:none; color:#555; background-position:right 50%;}

/* 검색 */
.search-wrap .search { display:flex; flex-wrap:wrap; background:#f7f8f9; padding:25px 40px; }
.search-wrap .search .col { display:flex; align-items:center; width:calc(50% - 38px); }
.search-wrap .search .col:nth-of-type(2n-1){ margin-right:38px;}
.search-wrap .search .tit { width:118px; font-size:16px; color:#000; font-weight:500; }
.search-wrap .search .input-wrap { width:calc(100% - 118px); }
.input-wrap { position:relative; display:flex; align-items:center; }
.input-wrap input { width:100%; }
.input-wrap .w180 { width:180px !important; }
.input-wrap input[type='date']{width: 180px;}
.input-wrap.date .hyphen { display:inline-block; width:14px; height:14px; margin:0 10px; }

/* btn */
.btn-wrap { display:flex; justify-content:center; gap:10px; margin-top:20px; margin-bottom:10px; }
.btn-wrap.right{ justify-content:right; }
.btn { display:inline-block; font-weight:400; line-height:1; }
.btn.btn-consult { background:#2d827a; width:120px; height:30px; line-height:30px; color:#fff; font-size:16px; border-radius:4px; }
.btn.btn-lg { width:100%; height:60px; line-height:60px; font-size:20px; color:#fff; }
.btn-lg.btn-cancle { background:#aaa; }
.btn-lg.btn-login { background:#0d6fb8; }
.btn-md { width:140px; height:48px; line-height:48px; border-radius:24px; font-size:16px; text-align:center; }
.btn-md.btn-white { border:1px solid #0d6fb8; color:#0d6fb8; background: #fff; }
.btn-md.btn-gray { background:#d8d8d8; color:#666; }
.btn-md.btn-blue { background:#0d6fb8; color:#fff; }
.btn.add { height:30px; padding:3px 16px 3px 38px; color:#0d6fb8; border:1px solid #0d6fb8; text-align:right; border-radius:4px; font-size:16px; background:url(../images/icon_plus_b.png) no-repeat 16px/16px; }
.btn.add.excel { background:url(../images/Icon_download.png) no-repeat 16px/16px; }
.btn.add.enroll { background:url(../images/ic_create.png) no-repeat 16px/16px; }
.btn.add.close { background:url(../images/icon_close_sky.svg) no-repeat 14px/20px; }
.btn.btn-more { font-size:16px; color:#009edb; text-decoration:underline; }

.btn.btn-disabled,
.btn:disabled{ background:#d8d8d8; color:#666; border:1px solid #d8d8d8; }

/* paging */
.paging-wrap { display:flex; align-items:center; justify-content:center; margin-top:40px; }
.paging-wrap .btn { margin:0 10px; }
.paging-wrap .btn-prev { width:16px; height:16px; background:url(../images/icon_arrow_back@3x.png) left top no-repeat; background-size:16px; }
.paging-wrap .btn-prev02 { width:16px; height:16px; background:url(../images/icon_arrowhead_left@3x.png) left top no-repeat; background-size:16px; }
.paging-wrap .btn-next { width:16px; height:16px; background:url(../images/icon_arrow_forward@3x.png) left top no-repeat; background-size:16px; }
.paging-wrap .btn-next02 { width:16px; height:16px; background:url(../images/icon_arrowhead_right@3x.png) left top no-repeat; background-size:16px; }
.paging-wrap .num a { display:inline-block; font-size:16px; color:#666; margin:0 20px; }
.paging-wrap .num a.active { color:#0087d5; }

/* checkbox */
.common-check label { position:relative; display:block; min-height:20px;padding-left:20px; text-align:left; }
.common-check label span { display:inline-block; width:100%; padding-left:10px; font-weight:300;font-size:15px; color:#555; line-height:20px; }
.common-check label input{ position:absolute; left:0; top:0; width:20px;height:20px; padding:0; background:#fff url('../images/input_chk02.svg') no-repeat center/12px; border:1px solid #5b5b5b; border-radius:2px; }
.common-check label input:checked{ background-color:#009edb; border:1px solid #009edb; }
.common-check label input[readonly],
.common-check label input[disabled]{ background-image:url('../images/input_chk02.svg'); background-color:#bbb !important; }
.common-check label input[readonly]:checked,
.common-check label input[disabled]:checked { background-image:url('../images/input_chk02_DS.svg') !important; background-color:#009edb !important; }


/* radio */
input[type='radio'] { position:relative; width:20px; height:20px;border-radius:100%; border:1px solid #d7d7d7; background:#fff; }
input[type='radio']:checked { border:1px solid #009edb; background:url('../images/input_radio_S.png') no-repeat 50% 50% #fff; background-size:11px 11px; }
input[type='radio']:disabled{ background:#eee; border:1px solid #a5a5a5 }
input[type='radio']:checked:disabled{background:url('../images/input_radio_DS.png') no-repeat 50% 50% #eee;background-size:11px 11px}
.common-radio label{ position:relative; min-width:20px; min-height:20px;padding-left:20px; cursor:pointer; text-align:left; }
.common-radio label span { display:inline-block; padding-left:10px; font-weight:300; font-size:15px; color:#555; line-height:20px; }
.common-radio label input{position:absolute;left:0;top:0;width:23px;height:23px;padding:0;border-radius:100%;border:1px solid #d7d7d7;background:#fff}
.common-radio label input[readonly],
.common-radio label input[disabled]{background:#eee;border:1px solid #a5a5a5}
.common-radio label input[readonly]:checked,
.common-radio label input[disabled]:checked{background:url('../images/input_radio_DS.png') no-repeat 50% 50% #eee;background-size:11px 11px}
.common-radio label~label{ margin-left:70px;}
.common-radio.radio-txt{display: flex; align-items: center; width: 50%; }
.common-radio.radio-txt label span{ padding-left:10px; font-size:16px;color:#555;}

/* tab */
.tab-wrap { display:flex; margin-bottom:50px; }
.tab-wrap .tab { background:#f7f8f9; width:50%; border:1px solid #e1e1e1; }
.tab-wrap .tab a { display:block; padding:13px 0; font-size:16px; color:#666; text-align:center; }
.tab-wrap .tab ~ .tab { margin-left:-1px; }
.tab-wrap .tab.active { background:#fff; border-top:1px solid #0d6fb8; border-bottom:0; }
.tab-wrap .tab.active a { color:#0d6fb8;  }

/* popup */
.layerpop-wrap { display:none; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); z-index:30; }
.layerpop-wrap .pop-header { display:flex; align-items:center; justify-content:space-between; background:#0d6fb8; height:60px; padding:0 40px; }
.layerpop-wrap .pop-header .tit { font-size:22px; color:#fff; font-weight:500; }
.layerpop-wrap .pop-header .pop-close { width:22px; height:22px; background:url(../images/icon_popup_close.svg) center no-repeat; background-size:100%; }
.layerpop-wrap .pop-con { background:#fff; padding:40px 40px 30px; }
.layerpop-wrap .pop-con .txt { padding-bottom:40px; font-size:18px; color:#333; }
.layerpop-wrap .pop-con .txt span { font-size:14px; color:#666; }
.layerpop-wrap .btn-wrap { margin-top:40px; }
.layerpop-wrap .table-wrap.scroll { height:360px; overflow-y:scroll; }

/* 하단 상세보기 */
.more-view-wrap { display:none; }
.more-view-wrap.active { display:block; }